<div class="container">
  <h2>Hall of Fame...</h2>
  <br>
</div>

{{#each users}}
<div class="container">
  <article class="media">
  <figure class="media-left">
    <p class="image is-96x96">
    <a href="/users/{{id}}"><img src="{{usrimage}}"> </a>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{name}}</strong> <small>"{{alias}}"</small>
        <br>
        Superpower: {{superpower}}
        <br>
        {{backStory}}
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-thumbs-up"></i></span>
        </a>
        <small><span class="icon">
                  <a href="https://github.com/{{github}}" ><i class="fa fa-github"></i></a>
               </span> {{github}}
        </small>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <button class="delete"></button>
  </div>
</article>
</div>
{{/each}}

<hr />
