<div class="container">
{{>header}}
<hr />

<div class="container">

<article class="media">
  <figure class="media-left">
    <p class="image is-128x128">
      <a href="/beers/{{beer.beer_id}}"><img src="{{beer.image}}" width="100px"></a>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{beer.beer_type}} - </strong> <small>{{beer.beer_brand}}</small>
        <br>
        {{beer.beer_bio}}
      </p>
    </div>
<nav class="level is-mobile">
  <div class="level-left">
    <a class="level-item">
      <span class="icon is-small"><i class="fa fa-retweet"></i></span>
    </a>
    <a class="level-item">
      <span class="icon is-small"><i class="fa fa-thumbs-up"></i></span>
    </a>
  </div>
</nav>
</div>
<figure class="media-right">
  <p class="image is-128x128">
    <a href="/beers/{{beer.beer_id}}"><img src="{{beer.beer_image}}" width="100px"></a>
  </p>
</figure>
</article>

</div> <!-- wrapper -->
<hr />

<div class="">
  <h2>Those who dared to try...</h2>

</div>
<hr />


{{#each users}}
<div class="">
  <article class="media viewbeerdrinker">
  <figure class="media-left">
    <p class="image is-96x96">
    <a href="/users/{{id}}"><img src="{{users.usrimage}}"> </a>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{name}}</strong> <small>"{{alias}}"</small>
        <br>
        Superpower: {{superpower}}
        <br>
        {{backStory}}
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-thumbs-up"></i></span>
        </a>
        <small><span class="icon">
                  <a href="https://github.com/{{github}}" ><i class="fa fa-github"></i></a>
               </span> {{github}}
        </small>
      </div>
    </div>
    </article>
  </nav>


<article class="media comment">
   <figure class="media-left">
     <p class="image is-48x48">
       <img src="">
     </p>
   </figure>
   <div class="media-content">
     <div class="content">
       <p>
         <strong>Comment </strong>
         <br>
         {{comment}}
         <br>
         <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
       </p>
     </div>
   </div>
 </article>


  </div>
</article>
<hr />


</div>
{{/each}}




<div id="btnmeme" class="has-text-centered">
  <a href="/addbeer">
    <h3 class="button is-large">Add a beer</h3>
  </a>
</div>
